@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Gowun+Dodum&family=Knewave&family=Leckerli+One&family=Lexend+Exa:wght@100..900&family=Noto+Sans+Mono:wght@100..900&family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=HK+Grotesk:wght@300;400;500;600;700&display=swap');
@import 'locomotive-scroll/dist/locomotive-scroll.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  overflow-x: hidden;
  width: 100%;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-y: scroll;
  scrollbar-width: none;
  overscroll-behavior: none
}


.newfont{
  font-family: 'Anonymous Pro', monospace;
}

.hkfont{
  font-family: "HK Grotesk", sans-serif;
}

.outfit-uniquifier {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.knewave-regular {
  font-family: "Knewave", serif;
  font-weight: 400;
  font-style: normal;
}

.lexend-exa-uniquifier {
  font-family: "Lexend Exa", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.funnel-sans-uniquifier {
  font-family: "Funnel Sans", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.gowun-dodum-regular {
  font-family: "Gowun Dodum", serif;
  font-weight: 200;
  font-style: normal;
}
/* 
.noto-sans-mono-uniquifier {
  font-family: "Noto Sans Mono", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

.leckerli-one-regular {
  font-family: "Leckerli One", serif;
  font-weight: 400;
  font-style: normal;
}

.newtext{
  background-color: rgba(42, 31, 24, 0.74);
}

.featuretext:hover{
  background: rgb(38, 38, 38);
}


.zain-extralight {
  font-family: "Zain", serif;
  font-weight: 200;
  font-style: normal;
}

.zain-light {
  font-family: "Zain", serif;
  font-weight: 300;
  font-style: normal;
}

.zain-regular {
  font-family: "Zain", serif;
  font-weight: 400;
  font-style: normal;
}

.zain-bold {
  font-family: "Zain", serif;
  font-weight: 700;
  font-style: normal;
}

.zain-extrabold {
  font-family: "Zain", serif;
  font-weight: 800;
  font-style: normal;
}

.zain-black {
  font-family: "Zain", serif;
  font-weight: 900;
  font-style: normal;
}

.zain-light-italic {
  font-family: "Zain", serif;
  font-weight: 300;
  font-style: italic;
}

.zain-regular-italic {
  font-family: "Zain", serif;
  font-weight: 400;
  font-style: italic;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  scrollbar-width: none;
}

.meow-script-regular {
  font-family: "Meow Script", serif;
  font-weight: 400;
  font-style: normal;
}

.borel-regular {
  font-family: "Borel", serif;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-uniquifier {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}
